.section-title h2::after {
    width: 9.3rem;
}

.services .icon-box {
    margin-bottom: 20px;
}

.services .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #fff;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #149ddd;
    margin-top: 0.2rem;
}

.services .icon i {
    color: #fff;
    font-size: 24px;
    line-height: 0;
}

.services .icon-box:hover .icon {
    background: #149ddd;
}

.services .icon-box:hover .icon i {
    color: #fff;
}

.services .title {
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.services .title a {
    color: #343a40;
}

.services .title a:hover {
    color: #149ddd;
}

.services .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
}