.section-title h2::after {
    width: 9.3rem;
}

.tech-stack-card {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    max-width: 25rem;
    flex: 1 1 25rem;
    min-width: 300px;
}

.tech-stack-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    justify-content: flex-start;
}

#techstack .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #fff;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #149ddd;
    margin-top: 0.2rem;
}

#techstack .icon i {
    color: #fff;
    font-size: 24px;
    line-height: 0;
}

#techstack .icon-box:hover .icon {
    background: #149ddd;
}

#techstack .icon-box:hover .icon i {
    color: #fff;
}

#techstack .title {
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#techstack .title a {
    color: #343a40;
}

#techstack .title a:hover {
    color: #149ddd;
}

#techstack .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
}