/* https://coolors.co/040b14-173b6c-149ddd-99c099-47505f-2d2d2d */

:root {
    --yale-blue: #173b6c;
    --celestial-blue: #149ddd;
    --cambridge-blue: #99c099;
    --charcoal: #47505f;
    --jet: #2d2d2d;
}
